:root {
  /* Variables CSS */
  --white: #FFFFFF;
  --light-grey: #DFDEE0;
  --purplish-gray: #8F8694;
  --deep-violet: #21092F;
  --red: #FF5050;
  --violet: hsl(249, 99%, 64%);
  --verdarviolet: hsl(278, 68%, 11%);
}

/* Variables SASS */
